@model HortiDot.Models.Usuario

@{
    ViewData["Title"] = "DeletarConta";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />

<div class="content">

    <h1>Tem certeza que deseja exlcuir sua conta?</h1>

    <h3>Todos os seus dados serão apagados.</h3>
    <div>
        <form asp-action="DeletarConta">
            <input type="hidden" asp-for="ID" />
            <a asp-controller="Usuarios" asp-action="EditarUsuario" asp-route-id="@Model?.ID" class="btn btn-amarelo">Não, quero manter minha conta</a> |
            <input type="submit" value="Sim, quero excluir" class="btn btn-vermelho" />
        </form>
    </div>
</div>