@model HortiDot.Models.Usuario

@{
    ViewData["Title"] = "Editar Conta";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />

<div class="content">
    <main>
        <div class="container">

            <div class="cadastro-foto">
                <img src="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2023-2-e2-proj-int-t2-grupo-2-hortidot/blob/main/docs/img/persona-ana.jpg?raw=true" />
                <a asp-area="" asp-controller="" asp-action="">Selecione uma imagem.</a>
            </div>

            <div class="cadastro">

                <form asp-action="Edit">
                    <div>
                        <h1>Dados Pessoais</h1>
                        <p>Preencha todos os campos com *</p>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>

                    <div>
                        <h2>DADOS DA EMPRESA</h2>
                        <p>Preencha com os dados da empresa a quem você representa.</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="NomeEmpresa" class="control-label"></label>
                        <input asp-for="NomeEmpresa" class="form-control" />
                        <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CNPJ" class="control-label"></label>
                        <input asp-for="CNPJ" class="form-control" />
                        <span asp-validation-for="CNPJ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoDeUsuario" class="control-label"></label>
                        <select asp-for="TipoDeUsuario" class="form-control" asp-items="Html.GetEnumSelectList<TipoDeUsuario>()"></select>
                        <span asp-validation-for="TipoDeUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a asp-action="Home" class="btn btn-amarelo">Cancelar</a>
                        <a asp-action="DeletarConta" class="btn btn-vermelho">Deletar conta</a>
                        <input type="submit" value="Salvar alterações" class="btn btn-verde" />
                    </div>
                </form>
            </div>
            </>


        </div>
    </main>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>