@using System.Threading;
@using System.Security.Claims;

@{
    string userCargo = ((ClaimsIdentity)User.Identity).FindFirst("Cargo").Value;

}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HortiDot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HortiDot.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="menu-topo">
            <div class="container">
                <div class="user-info">
                    <img src="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2023-2-e2-proj-int-t2-grupo-2-hortidot/blob/main/docs/img/persona-ana.jpg?raw=true" alt="Foto do usuário" />
                    <div class="user-name">
                        <h2>Olá @User.Identity.Name</h2>
                        <p>@userCargo</p>
                    </div>
                </div>

                <div class="menu-topo-right"> 
                    <button>
                        <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.40039 19.3496H10.5996C10.5996 19.903 10.388 20.3913 9.96484 20.8145C9.57422 21.2051 9.08594 21.4004 8.5 21.4004C7.91406 21.4004 7.40951 21.2051 6.98633 20.8145C6.5957 20.3913 6.40039 19.903 6.40039 19.3496ZM10.5996 7.875C10.5996 8.78646 10.7786 9.63281 11.1367 10.4141C11.4948 11.1953 11.9831 11.8789 12.6016 12.4648C13.2201 13.0508 13.9362 13.4902 14.75 13.7832V16.2246H16.8496V18.2754H0.150391V16.2246H2.25V8.90039C2.25 7.95638 2.44531 7.07747 2.83594 6.26367C3.25911 5.41732 3.8125 4.70117 4.49609 4.11523C5.21224 3.5293 6.02604 3.1224 6.9375 2.89453V2.16211C6.9375 1.70638 7.08398 1.33203 7.37695 1.03906C7.70247 0.746094 8.07682 0.599609 8.5 0.599609C8.92318 0.599609 9.28125 0.746094 9.57422 1.03906C9.89974 1.33203 10.0625 1.70638 10.0625 2.16211V2.89453C10.7786 3.05729 11.4622 3.36654 12.1133 3.82227C11.625 4.3431 11.2507 4.96159 10.9902 5.67773C10.7298 6.36133 10.5996 7.09375 10.5996 7.875ZM21 6.84961H17.875V3.72461H15.7754V6.84961H12.6504V8.90039H15.7754V12.0254H17.875V8.90039H21V6.84961Z" fill="#455218" />
                        </svg>
                    </button>

                    <a class="" asp-area="" asp-controller="Login" asp-action="Logout">
                        Sair da conta
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.15039 2.72461V17.2754H10.5V19.375H2.15039C1.59701 19.375 1.10872 19.1634 0.685547 18.7402C0.294922 18.3171 0.0996094 17.8288 0.0996094 17.2754V2.72461C0.0996094 2.17122 0.294922 1.68294 0.685547 1.25977C1.10872 0.836589 1.59701 0.625 2.15039 0.625H10.5V2.72461H2.15039ZM15.7246 4.77539L20.9004 10L15.7246 15.2246L14.2598 13.7109L16.9453 11.0254H6.34961V8.97461H16.9453L14.2598 6.24023L15.7246 4.77539Z" fill="#455218" />
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">

        <div class="container">
             <aside>
                    <div class="menu-lateral">

                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <img class="logo" src="https://raw.githubusercontent.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2023-2-e2-proj-int-t2-grupo-2-hortidot/af6c62358c723c0cbfc7acfe411df44cf236f59f/docs/img/logo-hortidot-horizontal.svg" alt="" />
                                </a>
                            </li>
                            <li>
                                <h2 class="menu-title">
                                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.98242 12.2295C4.90299 11.4482 6.74219 11.0576 8.5 11.0576C10.2578 11.0576 12.0807 11.4482 13.9688 12.2295C15.8893 12.9782 16.8496 13.971 16.8496 15.208V17.3076H0.150391V15.208C0.150391 13.971 1.0944 12.9782 2.98242 12.2295ZM11.4297 7.7373C10.6159 8.55111 9.63932 8.95801 8.5 8.95801C7.36068 8.95801 6.38411 8.55111 5.57031 7.7373C4.75651 6.9235 4.34961 5.94694 4.34961 4.80762C4.34961 3.66829 4.75651 2.69173 5.57031 1.87793C6.38411 1.03158 7.36068 0.608398 8.5 0.608398C9.63932 0.608398 10.6159 1.03158 11.4297 1.87793C12.2435 2.69173 12.6504 3.66829 12.6504 4.80762C12.6504 5.94694 12.2435 6.9235 11.4297 7.7373Z" fill="#455218" />
                                    </svg>
                                    Perfil
                                </h2>
                                <a asp-area="" asp-controller="Usuarios" asp-action="EditarUsuario">Editar conta</a>
                                <a asp-area="" asp-controller="Usuarios" asp-action="Delete">Excluir conta</a>
                            </li>

                            <li>
                                <h2 class="menu-title">
                                    <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.27539 0.733398H18.875V2.83301H4.27539V0.733398ZM4.27539 11.1826V9.08301H18.875V11.1826H4.27539ZM4.27539 6.9834V4.93262H18.875V6.9834H4.27539ZM0.125 2.83301V0.733398H2.22461V2.83301H0.125ZM0.125 11.1826V9.08301H2.22461V11.1826H0.125ZM0.125 6.9834V4.93262H2.22461V6.9834H0.125Z" fill="#455218" />
                                    </svg>
                                    Pedidos
                                </h2>
                            <a asp-area="" asp-controller="Pedidos" asp-action="Create">Novo pedido</a>
                                <a asp-area="" asp-controller="Pedidos" asp-action="Index">Todos os pedidos</a>
                            </li>

                            <li>
                                <h2 class="menu-title">
                                    <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7734 18.6006C13.2526 19.0889 12.7155 19.333 12.1621 19.333C11.6413 19.3005 11.1042 19.1702 10.5508 18.9424C9.9974 18.7145 9.44401 18.6006 8.89062 18.6006C8.33724 18.568 7.76758 18.682 7.18164 18.9424C6.43294 19.2679 5.81445 19.3981 5.32617 19.333C4.87044 19.2354 4.43099 18.9912 4.00781 18.6006C2.96615 17.5264 2.16862 16.4033 1.61523 15.2314C1.06185 14.027 0.736328 12.8389 0.638672 11.667C0.541016 10.4951 0.654948 9.4209 0.980469 8.44434C1.30599 7.46777 1.8431 6.68652 2.5918 6.10059C3.34049 5.4821 4.28451 5.1403 5.42383 5.0752C6.13997 5.10775 6.74219 5.25423 7.23047 5.51465C7.7513 5.74251 8.22331 5.87272 8.64648 5.90527C9.26497 5.77507 9.86719 5.59603 10.4531 5.36816C11.0716 5.10775 11.7064 4.99382 12.3574 5.02637C13.9199 5.15658 15.0918 5.77507 15.873 6.88184C15.0918 7.37012 14.5221 7.97233 14.1641 8.68848C13.8385 9.40462 13.7083 10.137 13.7734 10.8857C13.8711 11.6344 14.1478 12.318 14.6035 12.9365C15.0592 13.555 15.6615 14.027 16.4102 14.3525C16.1172 15.1338 15.7591 15.8988 15.3359 16.6475C14.9128 17.3636 14.3919 18.0146 13.7734 18.6006ZM8.54883 5.02637C8.48372 4.24512 8.63021 3.52897 8.98828 2.87793C9.34635 2.22689 9.81836 1.70605 10.4043 1.31543C11.0228 0.892253 11.6901 0.648112 12.4062 0.583008C12.5039 1.2666 12.4225 1.88509 12.1621 2.43848C11.9017 2.99186 11.5599 3.48014 11.1367 3.90332C10.7135 4.29395 10.2578 4.60319 9.76953 4.83105C9.3138 5.02637 8.9069 5.09147 8.54883 5.02637Z" fill="#455218" />
                                    </svg>
                                    Produtos
                                </h2>
                            <a asp-area="" asp-controller="Produtos" asp-action="Index">Todos os produtos</a>
                            <a asp-area="" asp-controller="Produtos" asp-action="Create">Cadastrar produto</a>
                            </li>

                            <li>
                                <h2 class="menu-title">
                                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.75 6.80762V4.70801H4.25V6.80762H16.75ZM12.5996 13.0576V10.958H4.25V13.0576H12.5996ZM4.25 7.83301V9.93262H16.75V7.83301H4.25ZM18.8496 0.557617C19.403 0.557617 19.875 0.769206 20.2656 1.19238C20.6888 1.58301 20.9004 2.05501 20.9004 2.6084V15.1084C20.9004 15.6618 20.6888 16.1501 20.2656 16.5732C19.875 16.9964 19.403 17.208 18.8496 17.208H4.25L0.0996094 21.3584V2.6084C0.0996094 2.05501 0.294922 1.58301 0.685547 1.19238C1.10872 0.769206 1.59701 0.557617 2.15039 0.557617H18.8496Z" fill="#455218" />
                                    </svg>
                                    Caixa de entrada
                                </h2>
                                <a asp-area="" asp-controller="Chats" asp-action="Create">Nova mensagem</a>
                            <a asp-area="" asp-controller="Chats" asp-action="Index">Histórico</a>
                            </li>

                        </ul>

                    </div>
                </aside>

            @RenderBody()
        </div>

    </main>
    
    <footer>
        <div class="container">
            <p>©2022-2023 HortiDot. Todos os direitos reservados.</p>
            <p>Política de Privacidade</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>