
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/pmv-ads-2023-2-e2-proj-int-t2-grupo-2-hortidot/v17/.wsuo
.vs/pmv-ads-2023-2-e2-proj-int-t2-grupo-2-hortidot/FileContentIndex/169a07b5-9dc9-4e78-9f2e-116fa23582da.vsidx
src/HortiDot/appsettings.json
src/HortiDot/appsettings.json
src/HortiDot/.vs