@model IEnumerable<HortiDot.Models.Usuario>

@{
    ViewData["Title"] = "Página inicial";
    Layout = "_Layout";
}

<div class="content">
<h1>Pedidos em andamento</h1>
<table>
    <tr>
        <th>Produtos</th>
        <th>Status</th>
        <th>Valor Total</th>
        <th>Fornecedor</th>
    </tr>
    <tr>
        <th>adadada</th>
        <th>adadada</th>
        <th>adadada</th>
    </tr>
</table>

    <h2>Últimos pedidos</h2>
</div>