@model IEnumerable<HortiDot.Models.Usuario>

@{
    ViewData["Title"] = "Página inicial";
    Layout = "_Layout";
}

<div class="content">
    <h1>Pedidos em andamento</h1>
    <h2>Últimos pedidos</h2>
</div>