﻿@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Efetue Seu Login!</h3>
                            <form asp-controller="Login" asp-action="Logar" method="post">
                                <div class="form-label-group">
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
                                    <label for="username">Digite seu usuário</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Password" required>
                                    <label for="senha">Password</label>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="manterlogado">
                                    <label class="custom-control-label" for="customCheck1">Manter Logado?</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Logar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>