@{
    ViewData["Title"] = "Política de Privacidade";
}

<section>
    <h1>@ViewData["Title"]</h1>

    <h2>Está é apenas uma página criada para fins didáticos.</h2>
    <p>Curso: Análise e Desenvolvimento de Sistemas - Eixo 2</p>
    <p>PUC Minas Virtual</p>
</section>