header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: var(--amarelo-claro);
}

header img {
    max-height: 100px;
}

main {
    padding: 40px 0;
    background-color: var(--amarelo-claro);
}

main .container {
    align-items: flex-start;
}

main .container .cadastro-foto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
}

main .container .cadastro-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

main .container .cadastro {
    width: 100%;
}

main .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

main .container h1,
main .container h2,
main .container p {
    color: var(--verde-escuro);
    text-align: center;
}

main .container h1 {
    font-size: 32px;
}

main .container form .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

main .container form .form-group label {
    text-wrap: nowrap;
}

main .container form .form-group input:not(input.btn) {
    width: 100%;
    background-color: var(--cinza);
    border-radius: 12px;
}