@model HortiDot.Models.Produto

@{
    ViewData["Title"] = "Apagar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
<h1>Apagar produto?</h1>

<p>Você tem certeza que deseja apagar este produto?</p>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form class="btns" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-amarelo">Cancelar</a>
        <input type="submit" value="Apagar" class="btn btn-vermelho" />
    </form>
</div>
</div>