@model HortiDot.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" />
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusPedidos" class="control-label"></label>
                <input asp-for="StatusPedidos" class="form-control" />
                <span asp-validation-for="StatusPedidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoComprador" class="control-label"></label>
                <input asp-for="CodigoComprador" class="form-control" />
                <span asp-validation-for="CodigoComprador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoFornecedor" class="control-label"></label>
                <input asp-for="CodigoFornecedor" class="form-control" />
                <span asp-validation-for="CodigoFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
