@model HortiDot.Models.Pedido

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
<h1>Editar pedido</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" />
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusPedidos" class="control-label"></label>
                <select asp-for="StatusPedidos" class="form-control"></select>
                <span asp-validation-for="StatusPedidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompradorId" class="control-label"></label>
                <input asp-for="CompradorId" class="form-control" />
                <span asp-validation-for="CompradorId" class="text-danger"></span>
            </div>
            <div class="form-group btns">
                    <a asp-action="Index" class="btn btn-amarelo">Cancelar</a>
                <input type="submit" value="Salvar alterações" class="btn btn-verde" />
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
